.container {
	width: 100%;
	margin: 0 auto;
}

.navbar {
	margin: 16px auto;

	.navbar-links {
		display: grid;
		gap: 16px;
		grid-template-columns: repeat(3, 1fr);
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.navbar-link {
		display: flex;
		gap: 4px;
		justify-items: center;
		text-decoration: none;

		img {
			width: 20px;
		}
	}

	.navbar-active-link {
		font-weight: bold;
		color: #3b82f6;
		text-decoration: underline;
	}
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
